{:paths ["src" "resources"]
 :deps  {org.clojure/clojure    {:mvn/version "1.10.1"}
         cnuernber/dtype-next   {:mvn/version "6.00-beta-9"}
         techascent/tech.jna    {:mvn/version "4.05"}
         com.brunobonacci/mulog {:mvn/version "0.6.0"}
         environ                {:mvn/version "1.2.0"}}}


