{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure  {:mvn/version "1.10.1"}
           cnuernber/dtype-next {:mvn/version "6.00-beta-20"}
           techascent/tech.jna  {:mvn/version "4.05"}
           complex/complex      {:mvn/version "0.1.12"}}
 :aliases {:test   {:extra-paths ["test"]}
           :runner {:main-opts  ["-m" "cognitect.test-runner"]
                    :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}}}}


